body {
    background: url("https://images.ctfassets.net/co0pvta7hzrh/11a9IRE6LLsaIdfCGdPAUL/e5c15bdd7700c3823d0672a096d75cce/professional_services_quote_form_template_Thumbnail.png") no-repeat center;
    min-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}


